@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply overflow-x-hidden;
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply font-jost;
  @apply text-dark;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.text-border {
  text-shadow: -2px 2px 2px #1c1c1c;
}
.text-border-light {
  text-shadow: -2px 2px 2px rgb(248 247 255);
}
.text-border-thin {
  text-shadow: -1px 1px 1px #1c1c1c;
}
.text-border-light-thin {
  text-shadow: -1px 1px 1px rgb(248 247 255);
}

.section {
  @apply py-12 md:py-20 w-full relative;
}
.inner-section {
  @apply max-w-screen-xl w-11/12 mx-auto;
}

.fixed {
  position: fixed;
}

.complex-radial-gradient {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #3178f0 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #5ebf98 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #ec8d54 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #edc57d 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #edc57d 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #edc57d 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #4e23f7 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #ec8 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #fe79de 1%, #4e23f7 99%),
    radial-gradient(142% 91% at -6% 74%, #df4e60 1%, #4e23f7 99%),
    radial-gradient(142% 91% at -6% 74%, #fe79 1%, #4e23f7 99%),
    radial-gradient(142% 91% at 111% 84%, #a879da 0%, #4e23f7 100%),
    radial-gradient(142% 91% at 111% 84%, #a879daa8 0%, #4e23f7 100%),
    radial-gradient(142% 91% at 111% 84%, #a879 0%, #4e23f7 100%);
}

.dark-complex-radial-gradient {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #3178f0 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #5ebf98 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #4e23f7 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #fe79de 1%, #4e23f7 99%),
    radial-gradient(142% 91% at -6% 74%, #df4e60 1%, #4e23f7 99%),
    radial-gradient(142% 91% at -6% 74%, #fe79 1%, #4e23f7 99%),
    radial-gradient(142% 91% at 111% 84%, #a879da 0%, #4e23f7 100%),
    radial-gradient(142% 91% at 111% 84%, #a879daa8 0%, #4e23f7 100%),
    radial-gradient(142% 91% at 111% 84%, #a879 0%, #4e23f7 100%);
}

.pink-orange-radial-gradient {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #ffe20345 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #fe79de 1%, #ec8d54 99%),
    radial-gradient(142% 91% at 83% 7%, #edc57d 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #fe79de 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #ec8d54 0%, #ec8d54 100%);
}
.purple-green-radial-gradient {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #4be7dd 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #a879da 1%, #5ebf98 99%),
    radial-gradient(142% 91% at 83% 7%, #5ebf98 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #a879da 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #5ebf98 0%, #5ebf98 100%);
}
.p-logo-mask {
  mask-image: url(#p-logo-mask);
}

.perspective-threed {
  perspective-origin: left;
  perspective: 1000px;
}
